html, body{
    min-height: 100%;
    height:100%;
}

body { 
    background: #ffffff; 
    
}

#container
{
    background-color: #335786;
    position: relative;
    height:45%;
    width:30%;
    left: 50%;
    top: 5%;
    margin-left: -15%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;

}


#color_wrapper
{
    position: absolute;
    width: 80%;
    height: 34%;
    top: 5%;
    left: 50%;
    margin-left: -40%;
    border-width: 1px;
    box-shadow: inset 1px 1px 1px 1px rgba(0 ,0, 0, 1);
    border-radius: 1px;
    background-color: #335786;
    border-style: solid;
}

#text_wrapper
{
    background-color: #335786;
    position: absolute;
    width: 80%;
    height: 34%;
    top: 41%;
    left: 50%;
    margin-left: -40%;
    border-width: 1px;
    box-shadow: inset 1px 1px 1px 1px rgba(0 ,0, 0, 1);
    border-radius: 1px;
    border-style: solid;
}

#submit
{
    position: absolute;
    width: 80%;
    height: 6%;
    top: 76%;
    left: 50%;
    margin-left: -40%;
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold
    padding: 0px;
    text-align: center;
    vertical-align: middle;

}

#red 
{
    left: 3%;
    top: 9%;
    bottom:2%;
    position:absolute;
    width: 23%; 
    height:90%; 
    background-color:#FF0000;
    font-color: #ffffff;


}
#orange 
{
    left: 26%;
    top: 9%;
    bottom:9%;
    position:absolute;
    width: 23%; 
    height:90%; 
    background-color:#FF5511;
}
#purple 
{
    left: 49%;
    top: 9%;
    bottom:9%;
    position:absolute;
    width: 23%; 
    height:90%; 
    background-color:#6600FF;
}
#green
{
    left: 72%;
    top: 9%;
    bottom:9%;
    position:absolute;
    width: 23%; 
    height:90%; 
    background-color:#00FF00;
}
        
.button 
{
    color: white;
    font-weight: bold
}

#lat {
    position: absolute;
    background-color: #335786;
    border: none;
    border-bottom: 3px solid black;
    width: 60%;
    left: 50%;
    top: 9%;
    margin-left: -30%;
    
}

#lng {
    position: absolute;
    background-color: #335786;
    border: none;
    border-bottom: 3px solid black;
    width: 60%;
    left: 50%;
    top: 40%;
    margin-left: -30%;
}

#description
{
    position: absolute;
    background-color: #335786;
    border: none;
    border-bottom: 3px solid black;
    width: 60%;
    left: 50%;
    top: 70%;
    margin-left: -30%;
}

input[type=number]:focus {
    outline: none;
    border-color: black;
}  

input[type=number] {
    appearance: none;
    margin: 0; 
}  

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=text]:focus {
    outline: none;
    border-color: black;
}  

#submit:focus {
    outline: none;
    border-color: black;
}  


.button:focus {
    outline: none;
    border-color: black;
    box-shadow: inset 1 1px 10px rgba(0,0,0,.075), 0 0 5px rgba(0, 0, 0, 0.5);
}  

.button.clicked{
    border-radius: 1px;
    border-color: black;
    border-width: 1 px;
    box-shadow: inset 1 1px 10px rgba(0,0,0,.075), 0 0 5px rgba(0, 0, 0, 0.5);

}